/ {

	iolm_gpios: iolm_gpios {
		compatible = "gpio-leds";
		iolm_irq: iolm_irq {
			status = "okay";
			gpios = <&gpio0 26 (GPIO_ACTIVE_LOW)>;
			label = "iolm_irq";
		};
		iolm_cs: iolm_cs {
			status = "okay";
			gpios = <&gpio0 27 (GPIO_ACTIVE_LOW)>;
			label = "iolm_cs";
		};
	};
    
	aliases {
		iolm-spi= &spi2;
        iolm-cs = &iolm_cs;
        iolm-irq = &iolm_irq;
	};

};

&uart0 {
	current-speed = <460800>;
};